<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2018-2019
  ~ All rights reserved, Designed By www.joolun.com
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joolun.cloud.weixin.admin.mapper.WxUserMapper">

	<resultMap id="wxUserMap" type="com.joolun.weixin.entity.WxUser">
		<id property="id" column="id"/>
		<result property="createId" column="create_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateId" column="update_id"/>
		<result property="updateTime" column="update_time"/>
		<result property="remark" column="remark"/>
		<result property="delFlag" column="del_flag"/>
		<result property="appType" column="app_type"/>
		<result property="subscribe" column="subscribe"/>
		<result property="subscribeScene" column="subscribe_scene"/>
		<result property="subscribeTime" column="subscribe_time"/>
		<result property="subscribeNum" column="subscribe_num"/>
		<result property="cancelSubscribeTime" column="cancel_subscribe_time"/>
		<result property="openId" column="open_id"/>
		<result property="nickName" column="nick_name"/>
		<result property="sex" column="sex"/>
		<result property="city" column="city"/>
		<result property="country" column="country"/>
		<result property="province" column="province"/>
		<result property="phone" column="phone"/>
		<result property="language" column="language"/>
		<result property="headimgUrl" column="headimg_url"/>
		<result property="unionId" column="union_id"/>
		<result property="groupId" column="group_id"/>
		<result property="tagidList" column="tagid_list"/>
		<result property="qrSceneStr" column="qr_scene_str"/>
		<result property="latitude" column="latitude"/>
		<result property="longitude" column="longitude"/>
		<result property="precision" column="precision"/>
		<result property="sessionKey" column="session_key"/>
	</resultMap>
</mapper>
