.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 1px;
  color: #303133;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  font-weight: 500;
}
